.about-us-text{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: bisque;
}

.about{
    padding-top: 10px;
    padding-bottom: 10px;
}