/* main{
    display: flex;
    justify-content: center;
} */
.service-list{
    display: flex;
    justify-content: start;
}

.shoppingCart{
    max-width: 300px;
    max-height: 480px;
    background-color: black;
    overflow: auto;
}
.card {
    background-color: #0A0908;
    color: #C6AC8F;
    width: 300px;
    /* height: 450px; */
    margin: 10px;
    border: 5px solid #EAE0D5;
    overflow:auto;
}

.card-img-top{
    max-width: 100%;
    max-height: 80%;
}

.img-size{
    width: 300px;
    height: 250px;
}


.cart-body{
    display: flex;
    overflow:auto;
}